{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS INTRODUCTION</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css'%}">
</head>
<body >
    <p class="sticky">Ali khalid</p>
    <header>
        
        <h1>Css Introduction</h1>
    </header>
    <main>
        <div class='content'>
            <h2>This is the Second practice it's about CSS and how we can style our html page:</h2>
            <table>
                <thead>
                    <th>Content</th>
                    <th>Chapter</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Basic Syntax and Selectors</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Colors and BackGrounds</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Text Styling</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Unit of Measurements & Position</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>Box model</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Layout Basics</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Flex box </td>
                        <td>7</td>
                    </tr>
                </tbody>
            </table>
            <p class="Text">This is the content that we will take for this Css Introduction it's alot but now we will try to learn how blocks work </p>
        </div>
        <div class ="container">
            <h2>This Div will have a Back Ground image </h2>
            <p>it will have a flex display so all the content will be inline until it gets a new one</p>
            <ul>
                <li>one</li>
                <li>two</li>
                <li>three</li>
                <li>four</li>
                <li>five</li>
                <li>six</li>
            </ul>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut sunt, assumenda eligendi corporis pariatur mollitia aliquam fugit sapiente quisquam est cupiditate nihil deleniti exercitationem. Vero eaque praesentium odio voluptatibus debitis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nam unde placeat cupiditate molestias reprehenderit. Quia, adipisci asperiores. Molestiae provident doloremque architecto exercitationem et fugiat.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit cumque vero laborum optio quae. Minima ullam cupiditate at dignissimos velit facere et repellendus sint accusamus?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae libero placeat repellat porro fugiat velit quam earum! Autem quidem ducimus error inventore asperiores, consequuntur impedit!</p>
        </div>
    </main>

   
</body>
</html>