{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML INTRODUCTION</title>
</head>
<body style="background-image: url(/static/images/html.webp); background-size: cover; background-repeat: no-repeat;">
    <header>
        <nav>
        
            <ul>
                <li><a href="{% url 'training:home_view' %}">home</a></li>
                <li><a href="{% url 'training:html_view' %}">HTML Introdcution</a></li>
                <li><a href="{% url 'training:css_view' %}">css Introdcution</a></li>
                <li><a href="{% url 'training:article_view' %}">article ai</a></li>
                <li><a href="{% url 'training:cv_view' %}">CV</a></li>
                
            </ul>
        </nav>
    </header>
    <h1><i>Hello html</i> </h1>
    <p>This is not the first time using Html but the proplem is that i didn't practice it so<b>I forgot everything!</b> </p>
    <p style="display: flex; align-items: center;">   
        <i>To access a good site to learn HTML press the image</i>
        <a href="https://www.w3schools.com/html/" target="_blank" title="Learn HTML in w3schools">
            <img src="{%static 'images/w3schools.webp' %}" style=" width:60px; margin-right: 10px;" alt="html image">
        </a>
    </p>
    <h3>Table of content to master HTML:</h3>
    <ol>
        <li>Introduction to HTML:
            <ul>
                <li>What is HTML?</li>
                <li>History of HTML</li>
                <li>Importance of HTML in Web Development</li>
            </ul>
        </li>
        <li>Basic HTML Structure:
            <ul>
                <li>the <'html'> element</li>
                <li>the <'head'> section
                    <ul>
                        <li><'title'> tag</li>
                        <li>meta tags</li>
                        <li>linking css and javascript</li>
                    </ul>
                </li>
                <li>the body section </li>
            </ul>
        </li>
    </ol>
    <p>this nested list to show that i understod nested lists</p>
    <table style="border-collapse: collapse; border: 2px solid; text-align: center;">
        <caption><b>Lab requirements</b></caption>
        <thead>
            <tr>
                <th>Content</th>
                <th>Focuses on</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>HTML Introduction</th>
                <td>Mastering Html</td>
            </tr>
            <tr>
                <th>CSS Introduction</th>
                <td>Mastering Css</td>
            </tr>
            <tr>
                <th>Ai Article</th>
                <td>Applying Html and CSS skills</td>
            </tr>
            <tr>
                <th>CV</th>
                <td>Apply all skills to make a cv</td>
            </tr>
        </tbody>
    </table>
    <br>
    <p>To get the newst news for full-stack development </p>
    <form action="">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="enter your name here">
        </div>
        
        <div>
            <label for="email">email</label>
            <input type="email" name="email" id="email" placeholder="enter email here ">
        </div>
        <div>
            <label for="male">Male</label>
            <input type="radio" name="Gender" value="Male" id="male">
            <label for="female">Female</label>
            <input type="radio" name="Gender" value="Female" id="female">
        </div>
        
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
   
    
</body>
</html>