{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reema Ibrahim Albrahim's CV</title>
    <link rel="stylesheet" href="{% static 'css/careers_style.css' %}"> <!-- Link to the CSS file -->
</head>
<body>
    <div class="container">
        <header>
            <h1>Reema Ibrahim Albrahim</h1>
            <p>+966564463367 | Saudi Arabia | reemaalbrahim28@gmail.com</p>
        </header>
        
        <section class="summary">
            <h2>Summary</h2>
            <p>Artificial Intelligence graduate with a robust foundation in machine learning, data analytics, and programming. Experienced in full stack development, skilled at leveraging algorithms and statistical models to extract meaningful insights from data. Strong problem-solving abilities and a commitment to continuous learning in the rapidly evolving fields of AI and computer engineering.</p>
        </section>

        <section class="skills">
            <h2>Technical Skills</h2>
            <ul>
                <li>C++</li>
                <li>Java</li>
                <li>Python</li>
                <li>HTML</li>
                <li>MySQL</li>
                <li>Computer Vision</li>
                <li>Deep Learning</li>
            </ul>
        </section>

        <section class="education">
            <h2>Education</h2>
            <p><strong>Bachelor's in Artificial Intelligence</strong> | Imam Abdulrahman Bin Faisal University (2019-2024)</p>
            <p>Cumulative GPA: 4.5/5, Honor Roll</p>
            <p>Training: Shobbak platform</p>
        </section>

        <section class="experience">
            <h2>Experience</h2>
            <p><strong>Artificial Intelligence Trainee</strong> | Solutions By 42 Group</p>
            <p>Worked as an artificial intelligence trainee, focusing on various projects including Fetal Hypoxia Detection Using ML techniques.</p>
        </section>

        <section class="projects">
            <h2>Projects</h2>
            <ul>
                <li>Object Detection Using Sequential And Parallel Programming</li>
                <li>Security analysis project using Kali Linux tools</li>
                <li>Using Python to control robot movements</li>
            </ul>
        </section>

        <section class="publications">
            <h2>Publications</h2>
            <p><a href="https://www.mdpi.com/2673-2688/5/2/26" target="_blank">Fetal Hypoxia Detection Using ML: A Narrative Review</a></p>
        </section>

        <section class="volunteering">
            <h2>Volunteering Experience</h2>
            <p>Member of the Computer Science Club, Organizational Committee</p>
            <p>Member of Google Developer Student Clubs</p>
        </section>
    </div>
</body>
</html>

