<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reema Albrahim - Personal Webpage</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/personal_style.css' %}"> <!-- Link to the CSS file -->
</head>
<body>
    <header>
        <h1>Reema Ibrahim Albrahim</h1>
        <h2>Artificial Intelligence Graduate</h2>
    </header>
    
    <section class="about">
        <h3>About Me</h3>
        <p>
            I am Reema Albrahim, and I recently graduated with a bachelors degree in Artificial Intelligence 
            from Imam Abdulrahman bin Faisal University. I chose to major in Artificial Intelligence because I am fascinated by its 
            transformative potential to solve complex problems and improve lives, and I am eager to be at the forefront of innovation that shapes the future of technology and society.
        </p>
    </section>

    <section class="contact">
        <h3>For Contact</h3>
        <p>Email: <a href="mailto:Reemaalbrahim28@gmail.com">Reemaalbrahim28@gmail.com</a></p>
        <p>Phone: 0564463367</p>
    </section>

    <footer>
        <p>&copy; 2024 Reema Albrahim. All rights reserved.</p>
    </footer>
</body>
</html>

