body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    color: #333;
}

/* Headings */
h1 {
    color: #0056b3;
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    color: #333;
    font-size: 1.5em;
    margin-top: 20px;
}

/* Paragraph and Link Styling */
p {
    font-size: 16px;
    margin-bottom: 10px;
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Image Styling */
img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}


ul {
    list-style-type: square;
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #0056b3;
    color: white;
}

/* Form Styling */
form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background-color: #004494;
}
