{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles1.css' %}">
    <title>css intro</title>
</head>
<body>
    <h1>css testing:</h1>
    
    <div class="Header">
        <h3>flexbox testing:</h3>
    <div class="container">
        <div class="item">Item 1</div>
        <div class="item">Item 2</div>
        <div class="item">Item 3</div>
    </div>
</div>
</body>
</html>