<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>introduction</title>
</head>
<body>
    <h1> <b> my favorite team is real madrid</b></h1>
    <p> <i> this is italic paragraph</i></p>
    <h2>this is h2</h2>
    <a href="google.com">google link</a>
    <h3>this is h3</h3>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fdepositphotos.com%2Fphotos%2Flittle-scar.html&psig=AOvVaw04cmc8aAKlWfst-U3V7yXu&ust=1730196092982000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCPDq2O3osIkDFQAAAAAdAAAAABAJ" alt="cat img">
    <h4>this is h4</h4>
    <ol>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ol>
    <h5>this is h5</h5>
    <table>
        <tr>
            <th>Header 1</th>
            <th>Header 2</th>
            <th>Header 3</th>
        </tr>
        <tr>
            <td>Row 1, Cell 1</td>
            <td>Row 1, Cell 2</td>
            <td>Row 1, Cell 3</td>
        </tr>
        <tr>
            <td>Row 2, Cell 1</td>
            <td>Row 2, Cell 2</td>
            <td>Row 2, Cell 3</td>
        </tr>
    </table>
    <h6>this is h6</h6>
    <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
    
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" cols="50"></textarea>
    
        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
    
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>