<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>my Hobbies</title>
    <link rel="stylesheet" href="css_intro.css">
        
    
</head>

<body>
    
    <h1>My hobbies and interests</h1>
       
    <h3>welcome! Here a list of things i enjoy doing in my free time</h3>
    <br>
    <h2>My Hobbies</h2>
    <ul>
        <li><strong>Reading:</strong>- love reading fiction and non-fiction books.</li>
        <li><strong>Traveling:</strong>- new places, cultures, and trying different foods</li>
        <li><strong>Watching Movies:</strong>- films across different genres</li>
    </ul>
    <br>
    <h2>Favorite Websites</h2>
   
    <ul>
        <li><a href="https://www.goodreads.com/">Goodreads</a> - A place to find book recommendations.</li>
        <li><a href="https://www.nationalgeographic.com/">National Geographic</a> - For nature and photography inspiration.</li>
        


    </ul>
    <br>
    <h2>Contact Me</h2>
        <form action="/submit_form" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br><br>

            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="4" required></textarea><br><br>

            <button  type="submit">Send Message</button>
        </form>

</body>
</html>