{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Saleh Alrashidi - Journey and CV</title>
    <link href="{% static 'style2.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="left-column">
            <h2>Saleh Alrashidi</h2>
            <div>
                <ul  >
                    <li><a href="#born">Born</a></li>
                    <li><a href="#study">Study</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#courses">Courses</a></li>
                    <li><a href="#hobbies">Hobbies</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <a href="/article/ai/" >check my Ai topic</a>
                </ul>
            </div>
        </div>

        <main class="right-column">
            <section class="intro">
                <h1>Saleh bin Hamed Alrashidi - Journey and CV</h1>
                <p>In this project, I talk about myself and my CV.</p>
            </section>

            <section id="born" class="content-section">
                <h2>In the North of Saudi Arabia Near Ha'il City</h2>
                <h3>Ha'il</h3>
                <p>
                    I started my life in Ha'il and moved to the capital city where I grew up and made friends for about 15 years.<br>
                    The weird thing is, I loved this city, but after going back to Ha'il, I can't imagine myself going outside of the city. <strong>I love it.</strong>
                </p>
            </section>

                <section id="study" class="content-section">
                <h2>My Academic Journey</h2>
                <h3>University of Ha'il</h3>
                <p>
                    I started my school journey at Riyadh Al-Muwahhid Private Schools. After that, I moved to Ibn Aqil School.<br>
                    This was before returning to Ha'il city, and I studied at the University of Ha'il after we got back.<br>
                    In this university, I experienced multiple positive impacts on my personal life and certainly in my professional path. I learned various concepts of programming, databases, and marketing.
                </p>
            </section>

            <section id="skills" class="content-section">
                <h2>My Skills</h2>
                <ul>
                    <li>React</li>
                    <li>SQL Server</li>
                    <li>MongoDB</li>
                    <li>Firebase</li>
                    <li>Full-Stack Development</li>
                    <li>Continuous Learning</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                </ul>
            </section>

            <section id="courses" class="content-section">
                <h2>courses</h2>
                <h3>Bachelor of Software Engineering</h3>
                    <ul>
                        <li>React</li>
                        <li>Python</li>
                        <li>JavaScript</li>
                        <li>Html</li>
                        <li>Css</li>
                        <a class="a-link" href="https://v2.scrimba.com/home"> <strong>sources for my website that I learned in it</strong></a>
            </ul>

            </section>

             <section id="hobbies" class="content-section">
                <h2>Hobbies</h2>
                <p>
 I love watching different stories and reading; I enjoy these stories and the meaningful messages in them. The weird thing is, I also love watching football, which has no meaningful messages, and playing story-driven games.                </p>
            </section>

            <section id="experience" class="content-section">
                <h2>Experience</h2>

                <h3>Internship at King Fahad Medical City</h3>
                <p>
                    <em>Riyadh, Saudi Arabia | July 2023 - December 2023</em><br>
                    At King Fahad Medical City, I had the invaluable opportunity to enhance my skills and knowledge in various aspects of software development and data analysis. This experience allowed me to gain practical exposure to C#, Power BI, and as I embark on the final five months of my co-op, I am excited to continue learning and contributing.
                </p>

                <h3>Programming Member at PGC</h3>
                <p>
                    <em>University of Ha'il | May 2023 - December 2023</em><br>
                    As a member of the programming team at PGC, my role involves developing programming projects, sharing my work, and conducting workshops to enhance students' understanding and application of programming, thereby contributing significantly to the organization's educational mission.
                </p>
            </section>

        </main>
    </div>
</body>
</html>