<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <style>
    .div-form{
    width:400px;
    border:20px;
    border-width:thick;
    background:red;
    margin-left: 5.5em;
    height:200px;
    text-align: center;
}
       .label-text{
       position: fixed;
        margin-top: 60px;
        border: 3px solid green;
        padding: 10px;
        margin-left:0px
        margin-right:500px
        width:50%;
        }
</style>
</head>
<body>
<ul>
    <li>I like HxH scenic childhood </li>
    <li>same with football at Barcelona </li>
    <li>the penguin is the bast series at this year</li>
    <li>nothing like studying django</li>
    <li>my name is Saleh</li>
</ul>
<form>
    <div class="div-form" >
        <label class="label-text">
        <h4>hey</h4>
        </label>
    </div>
  <a href="/css/introduction/">check my css</a>

</form>
</body>
</html>