:root {
    --primary-color: #002901;
    --secondary-color: #007bff;
    --text-color: #5b5959;
    --background-colorr: #f4f4f4;
    --white-color: #ecebeb;
    --font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 15px 0;
    text-align: center;
}

nav {
    margin: 15px auto; 
}

nav a {
    margin: 0 15px;
    color: var(--white-color);
    font-weight: bold;
    text-decoration: none;
    
}

nav a:hover {
    text-decoration: underline;
}

h1, h2, h3 {
    margin: 10px;
}

main {
    
    margin: 20px;
}

section {
    margin-bottom: 50px;
}

section h2 {
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
    font-size: 1.8em;
}

ul {
    list-style: none; 
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    color: #0a0a0a;
}

li {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.footer {
    text-align: center;
    padding: 10px ;
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 100%;
}
#home {
    display: flex;
    flex-direction: column; 
    align-items: center;           
    margin: 0;   
}

img {

    max-width: 100%; 
    height: 600px;   
    border: 2px solid #4CAF50;
    border-radius: 8px; 
    margin: auto;
    display: block; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Form Styles */
.contact-form {
    padding: 20px;
    background: var(--white-color);
    max-width: 600px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
    display: block;
    margin: 10px 0 5px;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 10px;
    border: 1px  #ccc;
    border-radius: 5px;
}



.submit-button {
    display: flex;
    flex-direction: column; 
    
    
    margin: auto; 
    background: var(--secondary-color);
    color: var(--white-color);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.submit-button:hover {
    background: #0056b3;
}

.form-heading {
    display: flex;
    flex-direction: column; 
    align-items: center;           
    margin: 0; 
}