html {
    box-sizing: border-box;
    *, *::after, *::before {
        box-sizing: border-box;
    }
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    width: 100%;
}

h1 {
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);  
    padding: 30px;
    position: relative;
    animation-name: myanimation;
    animation-duration: 2s;
    }

h3 {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    text-align: center;
    min-height: 50px;
    min-width: 100%;
    border-radius: 10px;
    /* align-items: center; */
    align-content: center;
    position: relative;
    animation-name: myanimation;
    animation-duration: 2s;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main {
    width: 100%;
    padding: 15px;
}

article {
    margin: 0;
    width: 100%;
    padding: 15px;
}

img {
    display: block;
    width: 80%;
    margin: 0 auto;

    /* add animation */
    position: relative;
    animation-name: myanimation;
    animation-duration: 2s;
}

/* for the animation */
@keyframes myanimation {
    0% {opacity: 1;}
    25% {opacity: 0.75;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75;}
    100% {opacity: 1;}
}

iframe {
    display: block;
    margin: 0 auto;
    max-width: 90%;
}

@media (min-width: 640px) {
    .container {
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    body {
        margin: 0 auto;
        max-width: 80%;
    }

    h1 {
        border-radius: 10px;
    }
}