<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <h1>The Rise of AI</h1>
        <nav>
            <a href="{% url 'myapplication:cv' %}">CV</a> |
            <a href="{% url 'myapplication:html_intro_view' %}">Html Practice</a> |
            <a href="{% url 'myapplication:css_intro_view' %}">Css Practice</a> |
            <a href="{% url 'myapplication:article' %}">AI Article</a> |
        </nav>
    </header>
</body>
</html>
