<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Things I Love</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    
    <header>
        <h1>Assignment for HTML/CSS</h1>
        <nav>
            <a href="{% url 'Lab:thingsIlove_view' %}">Basic Page (HTML)</a> |
            <a href="{% url 'Lab:thingsIlove_styled_view' %}">Styled Page (CSS)</a> |
            <a href="{% url 'Lab:ai_veiw' %}">Mini Project 1</a> |
            <a href="">Mini Project 2</a> 
            

        </nav>
    </header>

    <img src="{% static 'images/code.png' %}" width="600" height="600">
    <footer>  <small>
        Lab
      </small></footer>
</body>
</html>
