{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/basicstyling.css' %}">
    <title>CSS Intro</title>
</head>

<body class="cssIntrobody">
    <header class="cssIntroheader">
        <img src="{% static 'images/CSS-Logo.png'%}" alt="css logo">
        <nav>
            <ul class="navlinks">
                <li><a href="{% url 'HTMLAndCSS:htmlcssHomeView' %}">Home page</a></li>
                <li><a href="{% url 'HTMLAndCSS:htmlIntroView' %}">Plain HTML page</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="title">
            <h3>CSS Introduction</h3>
            <p>In this page we will diplay simple use of<b>CSS</b>styling</p>
        </div>

        <div class="listot">
            <h3>List of things I learned while cofing this page:</h3>
            <ul>
                <li>Basic Syntax and Selectors</li>
                <li>Colors and Backgrounds</li>
                <li>Text Styling</li>
                <li>Unit of Measurements & Positions</li>
                <li>Forms and Input</li>
                <li>Layout Basics</li>
                <li>Flexbox Basics</li>
            </ul>
        </div>

        <div class="tableos">
            <h3>Table of technical and soft skills:</h3>
            <table>
                <thead>
                    <tr>
                        <th>Soft Skills</th>
                        <th>Technical Skills</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Problem-solving</td>
                        <td>Java</td>
                    </tr>
                    <tr>
                        <td>Flexibility</td>
                        <td>HTML</td>
                    </tr>
                    <tr>
                        <td>Teamwork</td>
                        <td>CSS</td>
                    </tr>
                    <tr>
                        <td>Communication</td>
                        <td>SQL</td>
                    </tr>
                    <tr>
                        <td>Time Management</td>
                        <td>Python</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="formstyle">
            <h3>Enter your personal information:</h3>

            <form enctype="multipart/form-data">
                <label for="name">Name:</label>
                <input type="text" id="name" minlength="2" required><br><br>

                <label for="age">Age:</label>
                <input type="number" id="age" min="0" max="100" required><br><br>

                <label for="bdate">Birth Date:</label>
                <input type="date" id="bdate"><br><br>

                <label for="gender">Gender:</label>
                <input type="radio" id="male" name="gender" value="Male">
                <label for="male" class="gendrlabel">Male</label>
                <input type="radio" id="female" name="gender" value="Female">
                <label for="female"class="gendrlabel">Female</label><br><br>

                <label for="cv">Upload your CV: </label>
                <input type="file" id="cv" accept="application/pdf"><br><br>

                <input type="reset" class="btn" value="Reset">
                <input type="submit" class="btn" value="Submit">
            </form>
        </div>
    </main>
</body>

</html>