{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/CV.css' %}">
    </head>
        <body>
            <div class="container">
                <div class="left_Side">
                    <div class="ProfileText">
                        <div class="imgBx">
                        </div>
                        <h2>Shouq Alsubaie<br><span>Web Developer</span></h2>
                    </div>
                    <div class="contactInfo">
                        <h3 class="title">Contact Info</h3>
                        <ul>
                            <li>
                                <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i>                                </span>
                                <span class="text">0512345432</span>
                            </li>
                            <li>
                                <span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i>                                </span>
                                <span class="text">shouq@gmail.com</span>
                            </li>
                            <li>
                                <span class="icon"><i class="fa fa-globe" aria-hidden="true"></i>
                                </span>
                                <span class="text">Saudi Arabia , Riyadh</span>
                            </li>
                        </ul>
                    </div>
                            <div class="contactInfo education">
                                <h3 class="title">Education</h3>
                                <ul>
                                    <li>
                                        <h5>Jun-2023</h5>
                                        <h4>Diploma Degree <br>Porgramming and Web Development</h4>
                                        <h4>The Technical Digital College</h4>


                                    </li>
                                </ul>
                            </div>
                            <div class="contactInfo language">
                                <h3 class="title">Language</h3>
                                <ul>
                                    <li>
                                        <span class="text">English</span>
                                        <span class="percent">
                                            <div style="width: 90%;"></div>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="text">Arabic</span>
                                        <span class="percent">
                                            <div style="width: 100%;"></div>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                </div>
                <div class="right_Side">
                    <div class="about">
                        <h2 class="title2">Profile</h2>
                        <p>I'm a computer programmer. There are many language programs, in fact I am interested in the Web developer and smart device programming. I find true pleasure in solving problem overcoming challenges achieving results. I'm always excited to learn more and more.</p>
                    </div>
                    <div class="about">
                        <h2 class="title2">Experience</h2>
                        <div class="box">
                            <div class="year_com">
                                <h5>Feb-2022</h5>
                                <h5>The Royal <br>Commission</h5>
                            </div>
                            <div class="text">
                                <h4>Internship Trainee - IT</h4>
                                <p>Appain</p>
                                <p>Web Design</p>
                            </div>
                        </div>
                    </div>
                    <div class="about skills">
                        <h2 class="title2">Skills</h2>
                        <div class="box">
                            <h4>HTML,CSS</h4>
                            <div class="percent">
                                <div style="width: 100%;"></div>
                            </div>
                        </div>
                        <div class="box">
                            <h4>Programming language:<br>Java , Python ,<br> SQL query , PL/SQL</h4>
                            <div class="percent">
                                <div style="width: 100%;"></div>
                            </div>
                        </div>
                        <div class="box">
                            <h4>Problem-Solving</h4>
                            <div class="percent">
                                <div style="width: 90%;"></div>
                            </div>
                        </div>
                        <div class="box">
                            <h4>HTML</h4>
                            <div class="percent">
                                <div style="width: 95%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="about Course">
                        <h2 class="title2">Course Certifications</h2>
                        <ul>
                            <li>
                                <span class="text">Java Fundations | Oracle Academy</span>
                            </li>
                            <li>
                                <span class="text">IT Essentials | Academy Networking Cisco</span>
                            </li>
                            <li>
                                <span class="text">Saudi Arabia , Riyadh</span>
                            </li>
                        </ul>
                    </div>
                    </div>

                </div>

            </div>

        </body>
</html>