{% load static %}
<!DOCTYPE html> 
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Introduction HTML</title>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/Introduction2.css' %}">
    </head>
        <body>
          <div class="header"><h1>My Favorite City</h1></div>
          <br><br><br><br><br>
            <div class="div2"><p><i>New York</i></p></div>
            <br><br>
            <div class="responsive">
              <div class="gallery">
                <a target="_blank" href="test.png">
                  <img src="{% static 'images/NewYork.png' %}" alt="Cinque Terre" width="600" height="400">
                </a>
                <div class="desc">...</div>
              </div>
            </div>
            <div class="responsive">
              <div class="gallery">
                <a target="_blank" href="NewYork.png">
                  <img src="{% static 'images/NewYork.png' %}" alt="Forest" width="600" height="400">
                </a>
                <div class="desc">Statue of liberty</div>
              </div>
            </div>
            
            <div class="responsive">
              <div class="gallery">
                <a target="_blank" href="NewYork2.png">
                  <img src="{% static 'images/NewYork2.png' %}" alt="Northern Lights" width="600" height="400">
                </a>
                <div class="desc">Wall Street</div>
              </div>
            </div>
            
            <div class="responsive">
              <div class="gallery">
                <a target="_blank" href="TimesSquare.png">
                  <img src="{% static 'images/TimesSquare.png' %}" alt="Mountains" width="600" height="400">
                </a>
                <div class="desc">Times Square</div>
              </div>
            </div>
            <br><br><br><br><br><br><br><br><br><br>
            <div class="border-box left">
              <h2><i>Places to visit in New York</i></h2>
            <ul>
                <li>Times Square</li>
                <li>Statue of liberty</li>
                <li>Wall Street</li>
              </ul>  
            </div>
            </div>
            <div class="border-box right">
              <h2><i>The balanced season in NYC</i></h2>
              <ol>
                <li >April</li>
                <li>May</li>
                <li>June</li>
              </ol> 
            </div> 
            </div><br><br>
              <p style="text-align: center; margin-left: 2px;"><i>The best Hotel in NYC </i></p>
              <table>
                <tr>
                  <th>Hotel Name</th>
                  <th>Hotel Stars</th>
                </tr>
                <tr>
                  <td>Four Seasons | New York</td>
                  <td>5-star hotel</td>
                  
                </tr>
                <tr>
                  <td>Aman Resorts | New York</td>
                  <td>5-star hotel</td>
                 
                </tr>
              </table><br>
              <a href="https://youtu.be/WLSnrXEtrT4?si=S6jw_sPqQNgjp4Eg" target="_blank" style="margin-left: 670px;"><button type="button" class="button button1">Top 10 Things to do in NYC</button></a> <br> <br>
            <div class="container">
              <div class="div2">
              <h3 style="font-size: 15px;"><b>Contact us for any further information</b></h3>
            </div>
            <br><br>
              <form >
              <div class="row">
                <div class="col-25">
                  <label for="fname">First Name</label>
                </div>
                <div class="col-75">
                  <input type="text" name="firstname" placeholder="Your name..">
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="lname">Last Name</label>
                </div>
                <div class="col-75">
                  <input type="text" name="lastname" placeholder="Your last name..">
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label>Do you like the site content ?</label>
                </div>
                <div class="col-75">
                  <select>
                    <option value="australia">Yes</option>
                    <option value="canada">No</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="subject">Review of Website:</label>
                </div>
                <div class="col-75">
                  <textarea placeholder="Write something.." style="height:200px"></textarea>
                  
                </div>
              </div>
              <h3>What do you want to ask about ?</h3>
              <input type="checkbox" value="hotel">
              <label>Ask for hotel</label><br>
              <input type="checkbox"  value="City">
              <label > Ask for city </label><br>
              <input type="checkbox" value="Website">
              <label for="vehicle3"> Ask for Website</label><br> 
              <br>
              <div class="row">
                <input type="submit" value="Submit"><br>
                <div class="div4">
                <h4 style="text-align: center;  margin-left: -20px;">Or you can send Email</h4>
                <a href="mailto:someone@example.com" style="margin-left: 90px;"><button type="button" class="button button1">Send Email</button></a> 
          </div>
          </div>
              </form>
            </div>

        </body>
</html>
