@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #24252a;
    color: white;
}

li,
a {
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}

header img {
    height: 70px;
}

body {
    height: 125vh;
    margin-top: 80px;
    padding: 30px;
}

header {
    position: fixed;
    display: flex;
    background-color: #34353c;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    align-items: center;
    padding: 5px 5%;
    box-shadow: 0 0 25px 0 rgb(0, 0, 0);
    border-radius: 0 0 10px 10px;
}

header * {
    background-color: #34353c;
    display: inline;
}

.navlinks li {
    padding: 0 20px;
}

.navlinks li a {
    color: whitesmoke;
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
    color: rgb(126, 187, 207);
}

.title {
    padding: 2em;
}

.title * {
    padding: 10px;
}

.title:hover {
    box-shadow: inset 0 0 20px 0 rgb(0, 0, 0);
    border-radius: 30px;
    transition: all 0.3s ease 0s;
}

.listot {
    padding: 2em;
}

.listot * {
    padding: 10px;
}

.listot li {
    padding: 5px;
    font-size: 13px;
}

.listot:hover {
    box-shadow: inset 0 0 20px 0 rgb(0, 0, 0);
    border-radius: 30px;
    transition: all 0.3s ease 0s;
}

.tableos {
    padding: 2em;
}

.tableos * {
    margin: 1em;
}

.tableos table,
th,
td {
    border: 0.2em solid #5c5d65;
    border-collapse: collapse;
    padding: 0.5em;
    background-color: rgb(144, 193, 210);
    text-shadow: 1px 1px #5c5d65;
}

.tableos:hover {
    box-shadow: inset 0 0 20px 0 rgb(0, 0, 0);
    border-radius: 30px;
    transition: all 0.3s ease 0s;
}

.formstyle {
    padding: 2em;
}

.formstyle * {
    margin: 5px;
}

.formstyle label {
    display: inline-block;
    color: rgb(221, 248, 255);
    font-weight: 500;
    font-size: 15px;
    width: 10em;
}

.formstyle form {
    margin: 10px;
}

.formstyle input[type=text] {
    background-color: rgb(125, 174, 190);
    color: #35363e;
    font-weight: 500;
    padding: 0.3em;
    width: 10em;
    border: none;
    border-radius: 30px;
}

.formstyle input[type=text]:focus {
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}

.formstyle input[type=number] {
    background-color: rgb(125, 174, 190);
    color: #35363e;
    font-weight: 500;
    padding: 0.3em;
    width: 10em;
    border: none;
    border-radius: 30px;
}

.formstyle input[type=number]:focus {
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}

.formstyle input[type=date] {
    background-color: rgb(125, 174, 190);
    color: #35363e;
    font-weight: 500;
    padding: 0.3em;
    width: 10em;
    border: none;
    border-radius: 30px;
}

.formstyle input[type=date]:focus {
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}


.formstyle .gendrlabel {
    color: rgb(125, 174, 190);
    width: 5em;
}

.formstyle:hover {
    box-shadow: inset 0 0 20px 0 rgb(0, 0, 0);
    border-radius: 30px;
    transition: all 0.3s ease 0s;
}

.btn {
    padding: 9px 25px;
    background-color: lightgray;
    color: #24252a;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn:hover {
    background-color: rgb(126, 187, 207);
}