body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
header {
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px); 
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}

header,nav,footer{
    width: 100%;
    background-color: lightblue;
    padding: 10px;
    text-align: center;
}
nav a:hover{
    background-color: rgb(174, 225, 225);
    animation-duration: 1s;
    animation-name: fadeIn;
}

nav ul{
    padding: 0;
    justify-content: center;
    display: flex;
    list-style-type: none;

}
nav li{
    margin-right: 20px;
}


.container{
    background-color: rgb(174, 225, 225);
    display: flex;
    flex-direction: column;
    text-align: center;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

article{
    flex: 1 1 60%;
    margin: 10px;
}

aside{
    flex: 1 1 60%;
    margin: 10px;
}


.social-media a{
    margin-right:20px ;
}

