<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/introduction.css">

    <title>Japanese Restaurant</title>
    <style>
       
    </style>

</head>
<body>

    <h1  style="color: #ffffff;background-color: brown; height:  150%; text-align: center;">Welcom in Japanese Restaurant</h1>

    <h2>Japanese Restaurant Description:</h2>
    <p>Located in a serene atmosphere that echoes Japanese culture, 
        this restaurant combines traditional elegance with modern simplicity. 
        It offers a wide selection of traditional and contemporary Japanese dishes, 
        made with the finest, freshest ingredients, <mark>including</mark> <i>sushi, sashimi, ramen, teriyaki, 
        and <b>premium Japanese Wagyu beef</b></i>, renowned for its exceptional quality and rich flavor.</p>
        
        <p>Guests can enjoy a unique experience with Japanese beef, 
        carefully prepared and served grilled or in traditional dishes that enhance its tenderness and savory taste.
        Patrons can choose to sit at the sushi bar to witness the artistry 
        of food preparation or dine at traditional low tables for a more authentic experience.</p>

        <h3>Menu</h3>
        <ul>
            <li>Appetizers</li>
            <li>Sushi & Sashimi</li>
            <li>Main Courses</li>
            <li>Specialties</li>
            <li>Vegetarian Dishes</li>
            <li>Desserts</li>
            <li>Beverages</li>
        </ul>

        <div>
            <table>
                <caption>
                    Our branches
                </caption>
                <tr>
                    <th>City</th>
                    <th>location</th>
                </tr>
                <tr>
                    <td>Riyadh</td>
                    <td>AlOlaya Street</td>
                </tr>
                <tr>
                    <td>Jeddah</td>
                    <td>Main Street</td>
                </tr>
                
            </table>
        </div>
        <br>
        <div>
            <form>
                <fieldset>
                    <legend>Login</legend>
                    <div>
                        <label for="fname">frist name *</label>
                        <input id="fname" type="text" placeholder="frist name" required>
                    
                        <label for="lname">last name</label>
                        <input id="lname" type="text" placeholder="last name">
                    </div>
                    
                        <label for="pass">password *</label>
                        <input id = "pass" type="password" required>
                    <div>
                        <input type="tel" placeholder="number phone*" required>
                        <input type="email" placeholder="EX. email@email.com">
                    </div>
                    <input type="submit" value="Login">
                </fieldset>
            </form>   
        </div>

        <br>
        <img src="static/images/various.jpg" width="500" height="400"/>
        <img src="static/images/wagyou.jpg" width="500" height="400"/>
        <br>


        <iframe src="https://www.youtube.com/embed/w9UP8d7UFvo"  width="500" height="300"></iframe>
        <!--<a href="">About Japan</a>-->

     
</body>

</html>